<div>
    <h2 id="page-heading">
        <span jhiTranslate="connectorApp.sMS.home.title">SMS</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sms" [routerLink]="['/sms/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="connectorApp.sMS.home.createLabel">
            Create new SMS
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="sMS">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="connectorApp.sMS.smsAuthText">Sms Auth Text</span></th>
            <th><span jhiTranslate="connectorApp.sMS.language">Language</span></th>
            <th><span jhiTranslate="connectorApp.sMS.profile">Profile</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sMS of sMS ;trackBy: trackId">
                <td><a [routerLink]="['/sms', sMS.id, 'view' ]">{{sMS.id}}</a></td>
                <td>{{sMS.smsAuthText}}</td>
                <td jhiTranslate="{{'connectorApp.Language.' + sMS.language}}">{{sMS.language}}</td>
                <td>
                    <div *ngIf="sMS.profile">
                        <a [routerLink]="['../profile', sMS.profile?.id, 'view' ]" >{{sMS.profile?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/sms', sMS.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sms', sMS.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'sms', { outlets: { popup: sMS.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
